<% tours.each do |tour| %>
  <div class="col-md-4">
      <div class="panel panel-default">
          <div class="panel-heading preview">
              <%= image_tag tour.cover_photo(:medium) %>
          </div>
          <div class="panel-body">
              <%= link_to tour.title, tour%><br/>
              $<%= tour.price %> - Capacity: <%= tour.max_persons %> - Duration: <%= pluralize(tour.duration, "hour")%>
              <div id="star_<%= tour.id %>"></div> <%= pluralize(tour.tourist_reviews.count, "review") %>
          </div>
      </div>
  </div>
  
  <script>
  $('#star_<%= tour.id %>').raty({
    path: '/assets',
    readOnly: true,
    score: <%= tour.average_rating %>
  });
  </script>
<% end %>