<ul class="sidebar-link">
  <li class="sidebar-item">
    <%= link_to "Listing", listing_tour_path, class: "sidebar-link active" %>
  </li>
  <li class="sidebar-item">
    <%= link_to "Pricing", pricing_tour_path, class: "sidebar-link active" %>
  </li>
  <li class="sidebar-item">
    <%= link_to "Description", description_tour_path, class: "sidebar-link active" %>
  </li>
  <li class="sidebar-item">
    <%= link_to "Features", features_tour_path, class: "sidebar-link active" %>
  </li>
  <li class="sidebar-item">
    <%= link_to "Location", location_tour_path, class: "sidebar-link active" %>
  </li>
</ul>