<div class="row">
  <div class="col-md-3">
      <%= render 'tour_menu'%>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      
      <div class="panel-heading">
        Listing
      </div>
    </div>
    
    <div class="panel-body">
      <div class="container">
        <%= form_for @tour do |f| %>
        
          <div class="row form-group">
            <div class="col-md-4">
              <%= f.check_box :is_outdoors%> Outdoors
            </div>
            <div class="col-md-4">
              <%= f.check_box :is_nightlife%> Night Life
            </div>
            <div class="col-md-4">
              <%= f.check_box :is_foodie%> Foodie
            </div>
          </div>
          
          <div class="row form-group">
            <div class="col-md-4">
              <%= f.check_box :is_daytrip%> Day Trip
            </div>
            <div class="col-md-4">
              <%= f.check_box :is_landmarks%> Landmarks
            </div>
            <div class="col-md-4">
              <%= f.check_box :is_museums%> Museums
            </div>
          </div>
          <br/><br/>
          
          <div class="text-center">
            <%= f.submit "Save", class: "btn btn-form" %>
          </div>
          
        <% end %>
      </div>
    </div>
  </div>
</div>