<div class="row">
  <div class="col-md-3">
      <%= render 'tour_menu'%>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      
      <div class="panel-heading">
        Listing
      </div>
    </div>
    
    <div class="panel-body">
      <div class="container">
        <%= form_for @tour do |f| %>
      
          <div class="row">
            <div class="col-md-4 select">
              <div class="form-group">
                <label>Duration (hours)</label>
                <%= f.select :duration, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6", 6], ["Day Trip", 24]],
                              id: "duration", prompt: "Select...", class: "form_control" %>
              </div>
            </div>
            
             <div class="col-md-4 select">
              <div class="form-group">
                <label>Max Travelers</label>
                <%= f.select :max_persons, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6 or more", 6]],
                              id: "max_persons", prompt: "Select...", class: "form_control" %>
              </div>
            </div>
            
          </div>
          
          <div><%= f.submit "Save", class: "btn btn-normal"%></div>
          
        <% end %>
      </div>
    </div>
  </div>
</div>