<div class="container">
  <div class="row">
      <div class="col-md-3">
          <div class="center">
            <br/>
              <%= image_tag avatar_url(@traveler), class: "img-circle avatar-full"%>
              <% if current_traveler && current_traveler != @traveler %>
                  <%= link_to "Send Message", conversations_path(sender_id: current_traveler.id, recipient_id: @traveler.id), method: :post, class: "btn btn-default" %>
              <% end %>
          </div>
          <br/>
          <div class="panel panel-default">
              <div class="panel-heading">Verified Information</div>
              <div class="panel-body">
                  <ul class="sidebar-list">
                    <% if @traveler.confirmation_token%>
                        <li>Email Address<span class="pull-right icon-green"><i class="fa fa-check-square-o"></i></span></li>
                    <% end %>
                    <% if @traveler.provider %>
                        <li>Facebook<span class="pull-right icon-green"><i class="fa fa-check-square-o"></i></span></li>
                    <% end %>
                    <% if !(@traveler.phone_number == "") && !@traveler.phone_number.nil?%>
                        <li>Phone Number<span class="pull-right icon-green"><i class="fa fa-check-square-o"></i></span></li>
                    <% end %>
                  </ul>
              </div>
          </div>
      </div>

      <div class="col-md-9">
          <h2><%= @traveler.firstname + " " + @traveler.lastname %></h2>
          <div class = "panel panel-default">
            <div class="panel-heading">Overview</div>
              <div class="panel-body">
                    <div class="row">
                      <div class="col-md-6">
                        <td><i class="fa fa-language fa-lg icon-blue"></i>&nbsp&nbspSpeaks:
                          <% if @traveler.languages %>
                            <%= @traveler.languages.compact.split("").flatten.join(", ").html_safe %>
                          <% end %>
                        </td>

                      </div>
                      <div class="col-md-6">
                        <td><i class="fa fa-briefcase fa-lg icon-blue"></i>
                          <% if !(@traveler.occupation == "") && !@traveler.occupation.nil?%>
                            <%=@traveler.occupation%>
                          <% else %>
                            Occupation not yet specified
                          <% end %>
                        </td>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <td><i class="fa fa-home fa-lg icon-blue"></i>
                          <% if !(@traveler.hometown == "") && !@traveler.hometown.nil?%>
                            <%=@traveler.hometown%>
                          <% else %>
                            Hometown not yet specified
                          <% end %>
                        </td>
                      </div>
                      <div class="col-md-6">
                        <td><i class="fa fa-book fa-lg icon-blue"></i>
                          <% if !(@traveler.education == "") && !@traveler.education.nil?%>
                            <%=@traveler.education%>
                          <% else %>
                            Education not yet specified
                          <% end %>
                        </td>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <td><i class="fa fa-user-circle-o fa-lg icon-blue"></i>&nbspMember since
                          <%=@traveler.created_at.year%>
                        </td>
                      </div>
                      <div class="col-md-6">
                        <td><i class="fa fa-transgender-alt fa-lg icon-blue"></i>
                        <% if !(@traveler.gender == "") && !@traveler.gender.nil?%>
                          <%=@traveler.gender%>
                        <% else %>
                          Gender not yet specified
                        <% end %>
                        </td>
                      </div>
                    </div>
               </div>
          </div>
          
          <div class="panel panel-default">
              <div class="panel-heading">Description</div>
              <div class="panel-body">
                  <%= @traveler.description %>
            </div>
          </div>

          <h4>Listings (<%= @tours.length %>)</h4><br/>
          <div class="row">
              <%= render partial: "tours/tours_list", locals: {tours: @tours}%>
          </div>
      </div>
      <br/>

      <h4>Reviews from Tourists (<%= @tourist_reviews.count %>)</h4>
      <div class="row">
          <%= render "reviews/tourist_list" %>
      </div>
      <br/>

      <h4>Reviews from Guides (<%= @guide_reviews.count %>)</h4>
      <div class="row">
          <%= render "reviews/guide_list" %>
      </div>



  </div>
</div>
