<div class="panel panel-default">
  <div class="panel-heading">
    <span><% if @tour.Insant? %><i class="fa fa-bolt" style="color: #ffb400"></i><% end %> $<%= @tour.price %></span>
    <span class="pull-right">Per Hour</span>
  </div>
  <div class="panel-body">
    <%= form_for([@tour, @tour.reservations.new]) do |f| %>
      <div class="input-group date" id="datetimepicker">
        <!-- <%= f.text_field :start_date, readonly: true, placeholder: "Start Date"%> -->
        <%= f.text_field :start_date, class:"form-control"%>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>

      <div class="row">
        <% if @tour.Insant? %>
          <%= f.submit "Book Now", id: "btn_book", class: "btn btn-normal btn-block-reservations"%>
        <% else %>
          <%= f.submit "Request Now", id: "btn_book", class: "btn btn-normal btn-block"%>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= form_tag(add_to_wishlist_path(:tour_id => @tour.id), method: "post", id: "btn_book") do %>
        <button id="submit">Add to Wishlist</button>
    <% end %>
</div>

<script src="https://code.jquery.com/jquery-migrate-3.0.1.min.js"></script>

<script>
$(function () {
    $('#datetimepicker').datetimepicker({
      format: 'DD-MM-YYYY HH:mm:ss'
    });
});
  $(function() {
    unavailableDates = [];

    $.ajax({
      url: '<%= preload_tour_path(@tour) %>',
      dateTyp: 'json',
      success: function(data) {

        $.each(data, function(arrID, arrValue) {
            for(var d = new Date(arrValue.start_date); d <= new Date(arrValue.start_date + (arrValue.duration/24.0)); d.setDate(d.getDate() + 1)) {
            }
        });
      }
    });
  });
</script>
